.blogitem {
  padding: 2rem 0;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &:nth-child(1) {
    article {
      //   display: flex;
      //   flex-direction: column;
    }
  }
  article {
    padding: 1rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .left {
      width: 400px;
      text-align: left;
      h3 {
        font-weight: 800;
        font-size: 32px;
        margin-bottom: 1rem;
      }

      p {
        &:nth-child(4) {
          margin-top: 0.5rem;
          color: grey;
        }
      }
    }

    .middle {
      text-align: left;

      align-self: flex-start;
      width: 400px;
    }

    .right {
      height: 200px;
      width: 400px;
      overflow: hidden;
      img {
        width: 400px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .blogitem {
    article {
      .left {
        h3 {
          font-size: 26px;
        }
      }
      .middle {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .blogitem {
    article {
      .left {
        h3 {
          font-size: 26px;
        }
      }
      .middle {
        display: none;
      }

      .right {
        display: none;
      }
    }
  }
}
