$text-color-white: #a9a9b3;
$background-color-black: #000000;
$background-color-grey: #121416;

.blogitem {
  padding: 2rem 0;
  opacity: 0.7;
  overflow: hidden;

  &:hover {
    opacity: 1;

    .post-review {
      display: flex;
    }
  }

  article {
    padding: 1rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .left {
      width: 400px;
      text-align: left;
      h3 {
        font-weight: 800;
        font-size: 32px;
        margin-bottom: 1rem;
      }

      p {
        &:nth-child(4) {
          margin-top: 0.5rem;
          color: grey;
        }
      }
    }

    .middle {
      text-align: left;

      align-self: flex-start;
      width: 400px;
    }

    .right {
      height: 200px;
      width: 400px;
      overflow: hidden;
      img {
        width: 400px;
      }
    }
  }

  .post-review {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    button {
      border: 1px solid $text-color-white;
      background-color: $background-color-grey;
      color: $text-color-white;
      font-size: 16px;
      font-weight: 600;
      padding: 0.25rem 1rem;

      &:hover {
        background-color: $text-color-white;
        color: $background-color-grey;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .blogitem {
    article {
      .left {
        h3 {
          font-size: 26px;
        }
      }
      .middle {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .blogitem {
    padding: 0;
    article {
      .left {
        p {
          font-size: 16px;

          &:nth-child(1) {
            font-weight: 200;
          }

          &:nth-child(4) {
            font-size: 16px;
            font-weight: 300;
          }
        }

        h3 {
          font-size: 16px;
          font-weight: 400;
        }
      }
      .middle {
        display: none;
      }

      .right {
        display: none;
      }
    }

    .post-review {
      display: flex;
      justify-content: flex-start;
      button {
        font-size: 14px;
        font-weight: 300;
        border: none;
        background-color: $text-color-white;
        color: $background-color-grey;

        padding: 0.25rem 0.5rem;
      }
    }
  }
}
