@import "../../extra";

.blogitem {
  padding: 2rem 0;
  overflow: hidden;

  &:hover {
    transform: scale(1.025);
  }

  article {
    padding: 1rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .left {
      width: 400px;
      text-align: left;

      .area {
        &:hover {
          text-decoration: underline;
        }
      }

      h3 {
        font-weight: 800;
        font-size: 32px;
        margin-bottom: 1rem;
        text-align: justify;

        &:hover {
          color: $text-color-lightwhite;
        }
      }

      .author-section {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        div {
          &:nth-child(1) {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;

            img {
              width: 40px;
            }
          }

          &:nth-child(2) {
            .authorname {
              &:hover {
                text-decoration: underline;
              }
            }

            p {
              &:nth-child(2) {
                margin-top: 0.125rem;
                color: grey;
              }
            }
          }
        }
      }
    }

    .middle {
      text-align: justify;

      align-self: flex-start;
      width: 400px;
      p {
        &:hover {
          color: $text-color-lightwhite;
        }
      }
    }

    .right {
      height: 200px;
      width: 400px;
      overflow: hidden;
      img {
        width: 400px;
      }
    }
  }

  .post-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    margin-bottom: 1rem;
    button {
      border: none;
      background-color: $background-color-grey;
      color: $text-color-white;
      font-size: 16px;
      font-weight: 600;
      padding: 0.25rem 2rem;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      &:hover {
        background-color: $text-color-white;
        color: $background-color-grey;
        cursor: pointer;

        div {
          svg {
            stroke: $background-color-black;
            fill: $text-color-white;
          }
        }
      }

      div {
        svg {
          stroke: $text-color-white;
        }
      }
    }
  }

  hr {
    border: 1px dashed $background-color-darkgrey;
  }
}

@media screen and (max-width: 1024px) {
  .blogitem {
    article {
      .left {
        h3 {
          font-size: 26px;
        }
      }
      .middle {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .blogitem {
    margin-bottom: 1rem;
    padding: 0;
    opacity: 1;

    &:nth-child(even) {
      opacity: 0.7;
    }

    article {
      .left {
        p {
          font-size: 16px;

          &:nth-child(1) {
            font-weight: 200;
          }

          &:nth-child(4) {
            font-size: 16px;
            font-weight: 300;
          }
        }

        h3 {
          font-size: 16px;
          font-weight: 400;
        }
      }
      .middle {
        display: none;
      }

      .right {
        display: none;
      }
    }

    .post-review {
      display: flex;
      justify-content: space-around;
      button {
        font-size: 14px;
        font-weight: 300;

        &:hover,
        &:active {
          background-color: $text-color-white;
          color: $background-color-grey;
        }

        padding: 0.25rem 0.5rem;
      }
    }
  }
}
