@import "../../extra";

.nav {
  background-color: $background-color-black;
  position: sticky;
  top: 0;
  z-index: 999;
  opacity: 1;

  .container {
    width: 80%;
    margin: auto;
    padding: 1rem 0;

    display: flex;
    justify-content: space-between;
  }

  .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    .brandname {
      font-weight: 700;
      font-size: 24px;

      .blinksquare {
        background-color: $text-color-white;
        display: inline-block;
        height: 18px;
        width: 10px;
        animation: squareBlink 1s linear infinite;
        margin-left: 10px;
      }
    }

    .navlink {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;

        li {
          border-bottom: 2px solid $background-color-grey;

          &:hover {
            border-bottom: 2px solid $text-color-white;
          }

          .active {
            border-bottom: 2px solid $text-color-white;
          }
        }
      }
    }
  }

  .bars {
    display: none;
  }
}

@keyframes squareBlink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    .left {
      .brandname {
        font-size: 16px;

        .blinksquare {
          height: 12px;
          width: 8px;
        }
      }

      .navlink {
        display: block;

        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          position: fixed;
          top: 55px;
          right: 0px;
          width: 95vw;
          height: 100vh;
          background-color: $background-color-black;
          padding: 40px 0 0 10px;
          opacity: 0.8;
          transition: 0.3s ease-in-out;

          li {
            margin-bottom: 25px;
          }
        }
      }
      .navshow {
        display: none;
      }
    }

    .right {
      display: none;
    }

    .bars {
      display: block;

      &:hover {
        cursor: pointer;
      }

      i {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {
    .container {
      width: 95%;
    }
  }
}
