@import "../../extra";

.forumitem {
  margin-bottom: 2rem;

  &:hover {
    hr {
      border: 1px solid $text-color-white;
    }
  }

  .author-section {
    margin-bottom: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .author-image {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      overflow: hidden;

      img {
        height: 40px;
        width: 40px;
      }
    }

    .authorright {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      h4 {
        font-weight: 800;
        font-size: 18px;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      button {
        border: none;
        color: $text-color-white;
        padding: 0.25rem 0.5rem;
        font-size: 16px;
        font-family: "K2D", monospace;
        font-weight: 600;
        border-radius: 2.5px;
        background-color: $background-color-darkgrey;
      }

      p {
        font-size: 16px;
      }
    }
  }

  .postcontent {
    text-align: start;
    margin-left: 2rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    text-align: justify;
    color: $text-color-lightwhite;
  }

  .post-review {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    margin-bottom: 1rem;
    button {
      border: none;
      background-color: $background-color-grey;
      color: $text-color-white;
      font-size: 16px;
      font-weight: 600;
      padding: 0.25rem 1rem;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      &:hover {
        background-color: $text-color-white;
        color: $background-color-grey;
        cursor: pointer;

        div {
          svg {
            stroke: $background-color-black;
            fill: $text-color-white;
          }
        }
      }

      div {
        svg {
          stroke: $text-color-white;
          fill: $background-color-grey;
        }
      }
    }
  }

  hr {
    border: 1px dashed $background-color-darkgrey;
  }
}

@media screen and (max-width: 768px) {
  .forumitem {
    .post-review {
      display: flex;
      justify-content: space-around;
      button {
        font-size: 14px;
        font-weight: 300;

        &:hover,
        &:active {
          background-color: $text-color-white;
          color: $background-color-grey;
        }

        padding: 0.25rem 0.5rem;
      }
    }
  }
}
