@import "../../extra";

.blogdetail {
  min-height: 95vh;
  width: 80%;
  margin: auto;

  .container {
    padding: 2rem 0;
    display: grid;
    grid-template-areas: "content content content authorpost";
    gap: 1rem;

    .content {
      grid-area: content;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      .author-section {
        margin-bottom: 0.5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .author-image {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          overflow: hidden;

          img {
            height: 60px;
            width: 60px;
          }
        }

        .authorright {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 1rem;

          h4 {
            font-weight: 800;
            font-size: 22px;

            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }

          button {
            border: none;
            color: $text-color-white;
            background-color: $background-color-grey;
            padding: 0.125rem 0.25rem;
            font-size: 18px;
            font-family: "K2D", monospace;
            font-weight: 600;
            text-decoration: underline;

            &:hover {
              background-color: $background-color-red;
              cursor: pointer;
            }
          }
        }

        p {
          font-size: 18px;
        }
      }

      .header {
        h2 {
          font-size: 28px;
        }
      }

      .maincontent {
        font-size: 20px;
        font-weight: 300;
        padding: 1rem 0;
        margin-bottom: 1rem;
        text-align: center;
      }

      .post-review {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        margin-bottom: 1rem;
        button {
          border: none;
          background-color: $background-color-grey;
          color: $text-color-white;
          font-size: 16px;
          font-weight: 600;
          padding: 0.25rem 2rem;

          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;

          &:hover {
            background-color: $text-color-white;
            color: $background-color-grey;
            cursor: pointer;

            div {
              svg {
                stroke: $background-color-black;
                fill: $text-color-white;
              }
            }
          }

          div {
            svg {
              stroke: $text-color-white;
              fill: $background-color-grey;
            }
          }
        }

        .active {
          background-color: $text-color-white;
          color: $background-color-grey;
        }
      }
      .addcomment {
        width: 100%;
        .commentform {
          width: 100%;

          .commentinput {
            width: 80%;

            padding: 0.5rem 1rem;
            border: 1px solid $text-color-white;
            background-color: $background-color-grey;
            color: $text-color-white;

            &:focus {
              outline: none;
            }
          }

          .commentbutton {
            margin-left: 2%;
            width: 18%;

            padding: 0.5rem 2rem;
            background-color: $background-color-grey;
            color: $text-color-white;
            border: 1px solid $text-color-white;
            font-weight: 600;

            &:hover {
              cursor: pointer;
              background-color: $text-color-white;
              color: $background-color-grey;
            }
          }
        }
      }

      .commentdata {
        width: 80%;
      }
    }
    .authorpost {
      text-align: center;

      grid-area: authorpost;

      h3 {
        margin-bottom: 1rem;
      }

      .morepost {
        h4 {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
