@import "../../extra";

.forum {
  min-height: 98vh;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  text-align: center;

  .container {
    padding: 2rem 0;

    display: grid;
    grid-template-areas: "left middle right";
    gap: 4rem;

    .left {
      grid-area: left;

      button {
        display: none;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .middle {
      grid-area: middle;
    }

    .right {
      grid-area: right;
    }
  }
}

@media screen and (max-width: 1024px) {
  .forum {
    margin-top: 0;
    width: 80%;
    margin-top: 0;

    .container {
      padding: 0;
      width: 100%;
      grid-template-areas:
        " left "
        " middle "
        " right ";

      .left {
        grid-area: left;

        button {
          display: block;
          margin-top: 1rem;
          width: 100%;
          padding: 0.25rem 1rem;
          font-size: 16px;
          font-weight: 600;
          border: 1px solid $text-color-white;
          background-color: $background-color-grey;
          color: $text-color-white;

          &:hover {
            cursor: pointer;
          }

          i {
            margin-left: 2rem;
            color: $text-color-white;
            font-size: 14px;
          }
        }

        div {
          display: none;
        }
      }
      .middle {
        grid-area: middle;
      }

      .right {
        display: none;
        grid-area: right;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .forum {
    margin-top: 0;
    width: 95%;
    margin-top: 0;

    .container {
      padding: 0;
      width: 100%;
      grid-template-areas:
        " left "
        " middle "
        " right ";

      .left {
        grid-area: left;

        button {
          display: block;
          margin-top: 1rem;
          width: 100%;
          padding: 0.25rem 1rem;
          font-size: 16px;
          font-weight: 600;
          border: 1px solid $text-color-white;
          background-color: $background-color-grey;
          color: $text-color-white;
          i {
            margin-left: 2rem;
            color: $text-color-white;
            font-size: 14px;
          }
        }

        div {
          display: none;
        }
      }
      .middle {
        grid-area: middle;
      }

      .right {
        display: none;
        grid-area: right;
      }
    }
  }
}
