$text-color-white: #a9a9b3;
$background-color-black: #000000;
$background-color-grey: #121416;

.roomitem {
  margin-bottom: 2rem;
  padding: 1rem 0.5rem;
  width: 100%;

  &:hover {
    background-color: $text-color-white;
    .room {
      color: $background-color-grey;
      background-color: $text-color-white;
    }
  }
}
