@import "./extra";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $text-color-white;
  background-color: $background-color-grey;
  font-family: "K2D", monospace, sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $text-color-white;
}

@media screen and (max-width: 768px) {
  body {
    font-weight: 300;
  }
}
